### Importing Libraries

In [1]:
import pandas as pd
import datetime
import numpy as np
from itertools import islice

### Importing Datasets

In [2]:
original_df = pd.read_csv("cowin_vaccine_data_districtwise.csv")

C:\Users\Deepak Raj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

###### droppin irrelevant columns

In [3]:
df = original_df.drop(columns=['S No','State_Code','Cowin Key'])
df.drop(0, inplace=True)

In [4]:
df = df.reset_index(drop = True)

### Modifying dataset for better visualization and easy computation

In [5]:
df1 = df.melt(id_vars=['State','District_Key','District'],var_name='Date_columns',value_name='Total_Individuals')

In [6]:
df1['Date'] = df1.Date_columns.str[:10]
df1['Date'] = pd.to_datetime(df1['Date'],format='%d/%m/%Y')

In [7]:
df1.drop(df1[df1['Date']>'2021-08-14'].index, inplace=True)

In [8]:
df1.fillna(0, inplace = True)

In [9]:
df1

,State,District_Key,District,Date_columns,Total_Individuals,Date
0,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,16/01/2021,745,2021-01-16
1,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,16/01/2021,1496,2021-01-16
2,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,16/01/2021,6028,2021-01-16
3,Andhra Pradesh,AP_Anantapur,Anantapur,16/01/2021,20781,2021-01-16
4,Andhra Pradesh,AP_Chittoor,Chittoor,16/01/2021,26285,2021-01-16
...,...,...,...,...,...,...
1590935,West Bengal,WB_Purulia,Purulia,14/08/2021.9,667928,2021-08-14
1590936,West Bengal,WB_Birbhum,Birbhum,14/08/2021.9,443747,2021-08-14
1590937,West Bengal,WB_South 24 Parganas,South 24 Parganas,14/08/2021.9,1608273,2021-08-14
1590938,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,14/08/2021.9,598638,2021-08-14
1590939,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,14/08/2021.9,917162,2021-08-14

###### In our modified dataset the entries with .5 at the end in 'Dose_Type' column represent the 'No of Females Vaccinated' and the entries with .6 in the end represent the 'No of Females Vaccinated'

In [10]:
df1.loc[df1['Date_columns'].str[-1]=='5','Date_columns'] = 'Male'
df1.loc[df1['Date_columns'].str[-1]=='6','Date_columns'] = 'Female'

In [12]:
df2 = df1[(df1['Date_columns']=='Female') | (df1['Date_columns']=='Male')]
df2['Total_Individuals']=df2['Total_Individuals'].astype("int")
df_Female = df2[df2['Date_columns']=='Female']
df_Male = df2[df2['Date_columns']=='Male']

<ipython-input-12-a82a9a4d11a6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Total_Individuals']=df2['Total_Individuals'].astype("int")

In [13]:
df3 = df_Female[['State','District_Key','District','Date']]
df3['Female_Vaccinated'] = df_Female['Total_Individuals'].values
df3['Male_Vaccinated'] = df_Male['Total_Individuals'].values

<ipython-input-13-008ab0360d9f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Female_Vaccinated'] = df_Female['Total_Individuals'].values

#### Modified dataset

In [14]:
df3

,State,District_Key,District,Date,Female_Vaccinated,Male_Vaccinated
4524,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,2021-01-16,0,0
4525,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,2021-01-16,0,0
4526,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,2021-01-16,11,12
4527,Andhra Pradesh,AP_Anantapur,Anantapur,2021-01-16,259,28
4528,Andhra Pradesh,AP_Chittoor,Chittoor,2021-01-16,331,93
...,...,...,...,...,...,...
1588673,West Bengal,WB_Purulia,Purulia,2021-08-14,368255,418785
1588674,West Bengal,WB_Birbhum,Birbhum,2021-08-14,266445,244036
1588675,West Bengal,WB_South 24 Parganas,South 24 Parganas,2021-08-14,847823,916041
1588676,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-08-14,327606,386259
1588677,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,2021-08-14,457639,587059

###### There are some districts which have more than one entries for the same district therefore merging them into single entry by taking sum

In [16]:
df3 = df3.groupby(['Date','District_Key','District']).agg({'State':'first','Female_Vaccinated':'sum','Male_Vaccinated':'sum'}).reset_index()

###### Converting cummulative values to delta values

In [17]:
for key, values in df3.groupby(['District_Key']):
    df3.loc[values.index, 'Male_Vaccinated'] = df3.loc[values.index, 'Male_Vaccinated'].diff()
    df3.loc[values.index, 'Female_Vaccinated'] = df3.loc[values.index, 'Female_Vaccinated'].diff()
df3['Female_Vaccinated'].fillna(0)
df3['Male_Vaccinated'].fillna(0)
df3['Female_Vaccinated'] = df3['Female_Vaccinated'].mask(df3['Female_Vaccinated']<0).ffill().fillna(0).convert_dtypes()
df3['Male_Vaccinated'] = df3['Male_Vaccinated'].mask(df3['Male_Vaccinated']<0).ffill().fillna(0).convert_dtypes()
df3

,Date,District_Key,District,State,Female_Vaccinated,Male_Vaccinated
0,2021-01-16,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0,0
1,2021-01-16,AN_North and Middle Andaman,North and Middle Andaman,Andaman and Nicobar Islands,0,0
2,2021-01-16,AN_South Andaman,South Andaman,Andaman and Nicobar Islands,0,0
3,2021-01-16,AP_Anantapur,Anantapur,Andhra Pradesh,0,0
4,2021-01-16,AP_Chittoor,Chittoor,Andhra Pradesh,0,0
...,...,...,...,...,...,...
153814,2021-08-14,WB_Purba Bardhaman,Purba Bardhaman,West Bengal,16667,7661
153815,2021-08-14,WB_Purba Medinipur,Purba Medinipur,West Bengal,15235,8360
153816,2021-08-14,WB_Purulia,Purulia,West Bengal,7110,6541
153817,2021-08-14,WB_South 24 Parganas,South 24 Parganas,West Bengal,20146,17404
153818,2021-08-14,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,6067,6846

#### Importing population dataset

In [18]:
census_data = pd.read_csv("DDW_PCA0000_2011_Indiastatedist.csv")

###### Removing irrelevant columns

In [19]:
census_data = census_data[['Level','Name','TRU','TOT_P','TOT_M','TOT_F']]
census_data.drop(census_data[(census_data['TRU']=='Rural') | (census_data['TRU']=='Urban')].index, inplace=True)

In [20]:
census_data

,Level,Name,TRU,TOT_P,TOT_M,TOT_F
0,India,India,Total,1210854977,623270258,587584719
3,STATE,JAMMU & KASHMIR,Total,12541302,6640662,5900640
6,DISTRICT,Kupwara,Total,870354,474190,396164
9,DISTRICT,Badgam,Total,753745,398041,355704
12,DISTRICT,Leh(Ladakh),Total,133487,78971,54516
...,...,...,...,...,...,...
2013,DISTRICT,Karaikal,Total,200222,97809,102413
2016,STATE,ANDAMAN & NICOBAR ISLANDS,Total,380581,202871,177710
2019,DISTRICT,Nicobars,Total,36842,20727,16115
2022,DISTRICT,North & Middle Andaman,Total,105597,54861,50736
2025,DISTRICT,South Andaman,Total,238142,127283,110859

#### Making some changes so that vaccination data and population data can be merged

In [21]:
census_data['State'] = census_data['Name']
census_data.loc[census_data[census_data['Level']=='DISTRICT'].index,'State'] = np.nan
census_data.ffill(axis=0, inplace=True)

In [22]:
census_data

,Level,Name,TRU,TOT_P,TOT_M,TOT_F,State
0,India,India,Total,1210854977,623270258,587584719,India
3,STATE,JAMMU & KASHMIR,Total,12541302,6640662,5900640,JAMMU & KASHMIR
6,DISTRICT,Kupwara,Total,870354,474190,396164,JAMMU & KASHMIR
9,DISTRICT,Badgam,Total,753745,398041,355704,JAMMU & KASHMIR
12,DISTRICT,Leh(Ladakh),Total,133487,78971,54516,JAMMU & KASHMIR
...,...,...,...,...,...,...,...
2013,DISTRICT,Karaikal,Total,200222,97809,102413,PUDUCHERRY
2016,STATE,ANDAMAN & NICOBAR ISLANDS,Total,380581,202871,177710,ANDAMAN & NICOBAR ISLANDS
2019,DISTRICT,Nicobars,Total,36842,20727,16115,ANDAMAN & NICOBAR ISLANDS
2022,DISTRICT,North & Middle Andaman,Total,105597,54861,50736,ANDAMAN & NICOBAR ISLANDS
2025,DISTRICT,South Andaman,Total,238142,127283,110859,ANDAMAN & NICOBAR ISLANDS

###### renaming column names

In [23]:
census_data.drop(census_data[(census_data['Level']=='STATE') | (census_data['Level']=='India')].index, inplace=True)
census_data.drop(columns=['Level','TRU'], inplace=True)
census_data.rename(columns={'Name':'District','TOT_P':'Total_Population','TOT_M':'Total_Male_Population', 'TOT_F':'Total_Female_Population'},inplace=True)

In [24]:
census_data['State'] = census_data['State'].str.lower()
census_data['State'] = census_data['State'].str.title()
census_data.replace("&", "and", regex = True, inplace = True)

In [327]:
census_data

,District,Total_Population,Total_Male_Population,Total_Female_Population,State
6,Kupwara,870354,474190,396164,Jammu and Kashmir
9,Badgam,753745,398041,355704,Jammu and Kashmir
12,Leh(Ladakh),133487,78971,54516,Jammu and Kashmir
15,Kargil,140802,77785,63017,Jammu and Kashmir
18,Punch,476835,251899,224936,Jammu and Kashmir
...,...,...,...,...,...
2010,Mahe,41816,19143,22673,Puducherry
2013,Karaikal,200222,97809,102413,Puducherry
2019,Nicobars,36842,20727,16115,Andaman and Nicobar Islands
2022,North and Middle Andaman,105597,54861,50736,Andaman and Nicobar Islands
2025,South Andaman,238142,127283,110859,Andaman and Nicobar Islands

###### this file is created because it will be used in coming questions

In [25]:
census_data.to_csv("filtered_census_data.csv",index = False)

#### Merging Population dataset and Vaccination dataset

In [26]:
merged_df = pd.merge(df3, census_data, on=['District','State'])
merged_df['Male_Vaccinated'] = merged_df['Male_Vaccinated'].astype('float')
merged_df['Female_Vaccinated'] = merged_df['Female_Vaccinated'].astype('float')
merged_df['Total_Male_Population'] = merged_df['Total_Male_Population'].astype('float')
merged_df['Total_Female_Population'] = merged_df['Total_Female_Population'].astype('float')
merged_df

,Date,District_Key,District,State,Female_Vaccinated,Male_Vaccinated,Total_Population,Total_Male_Population,Total_Female_Population
0,2021-01-16,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842,20727.0,16115.0
1,2021-01-17,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842,20727.0,16115.0
2,2021-01-18,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842,20727.0,16115.0
3,2021-01-19,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,1.0,0.0,36842,20727.0,16115.0
4,2021-01-20,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842,20727.0,16115.0
...,...,...,...,...,...,...,...,...,...
102119,2021-08-10,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,3511.0,4317.0,3007134,1551066.0,1456068.0
102120,2021-08-11,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,1726.0,2065.0,3007134,1551066.0,1456068.0
102121,2021-08-12,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,2722.0,3347.0,3007134,1551066.0,1456068.0
102122,2021-08-13,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,6361.0,7762.0,3007134,1551066.0,1456068.0
102123,2021-08-14,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,6067.0,6846.0,3007134,1551066.0,1456068.0

### Finding the required ratio for each district

In [27]:
df_district = merged_df.groupby('District_Key').agg({'State':'first','Female_Vaccinated':'sum','Male_Vaccinated':'sum','Total_Male_Population':'first','Total_Female_Population':'first','District':'first'}).reset_index().drop('District',axis=1)

In [28]:
df_district['Vaccination_Ratio'] = df_district.Female_Vaccinated.divide(df_district.Male_Vaccinated)
df_district['Population_Ratio'] = df_district.Total_Female_Population.divide(df_district.Total_Male_Population)
df_district['Ratio_of_Ratio'] = df_district.Vaccination_Ratio.divide(df_district.Population_Ratio)

In [29]:
df_district.sort_values(['Ratio_of_Ratio'],inplace=True)
df_district

,District_Key,State,Female_Vaccinated,Male_Vaccinated,Total_Male_Population,Total_Female_Population,Vaccination_Ratio,Population_Ratio,Ratio_of_Ratio
309,NL_Kiphire,Nagaland,5806.0,12860.0,37830.0,36174.0,0.451477,0.956225,0.472146
183,JK_Srinagar,Jammu and Kashmir,216576.0,404046.0,651124.0,585705.0,0.536018,0.899529,0.595888
13,AR_Anjaw,Arunachal Pradesh,6049.0,11659.0,11507.0,9660.0,0.518827,0.839489,0.618027
257,MN_Senapati,Manipur,11721.0,19174.0,247323.0,231825.0,0.611297,0.937337,0.652163
259,MN_Ukhrul,Manipur,9594.0,15429.0,94718.0,89280.0,0.621816,0.942587,0.659691
...,...,...,...,...,...,...,...,...,...
12,AP_West Godavari,Andhra Pradesh,1161325.0,919201.0,1964918.0,1972048.0,1.263407,1.003629,1.258839
393,TN_Ramanathapuram,Tamil Nadu,257896.0,201751.0,682658.0,670787.0,1.278289,0.982611,1.300911
9,AP_Srikakulam,Andhra Pradesh,783313.0,590536.0,1341738.0,1361376.0,1.326444,1.014636,1.307310
402,TN_Tiruvannamalai,Tamil Nadu,391584.0,294315.0,1235889.0,1228986.0,1.330493,0.994415,1.337966
7,AP_Kurnool,Andhra Pradesh,992892.0,745929.0,2039227.0,2014236.0,1.331081,0.987745,1.347596

### Finding the required ratio for each state

In [30]:
df_state = df_district.groupby('State').agg({'Female_Vaccinated':'sum','Male_Vaccinated':'sum','Total_Male_Population':'sum','Total_Female_Population':'sum'}).reset_index()

In [31]:
df_state['Vaccination_Ratio'] = df_state.Female_Vaccinated.divide(df_state.Male_Vaccinated)
df_state['Population_Ratio'] = df_state.Total_Female_Population.divide(df_state.Total_Male_Population)
df_state['Ratio_of_Ratio'] = df_state.Vaccination_Ratio.divide(df_state.Population_Ratio)

In [32]:
df_state.sort_values(['Ratio_of_Ratio'],inplace=True)
df_state

,State,Female_Vaccinated,Male_Vaccinated,Total_Male_Population,Total_Female_Population,Vaccination_Ratio,Population_Ratio,Ratio_of_Ratio
21,Nagaland,230306.0,307277.0,827255.0,772436.0,0.749506,0.933734,0.802698
2,Arunachal Pradesh,318137.0,401966.0,709498.0,666225.0,0.791453,0.939009,0.842859
11,Jammu and Kashmir,2510336.0,3340215.0,5206972.0,4639810.0,0.751549,0.891076,0.843417
28,Uttar Pradesh,20975750.0,26866610.0,88754869.0,81056434.0,0.780737,0.913262,0.854888
12,Jharkhand,3956245.0,4819923.0,13953231.0,13199603.0,0.820811,0.945989,0.867675
18,Manipur,550280.0,635808.0,1366215.0,1348928.0,0.865481,0.987347,0.876573
15,Lakshadweep,31653.0,37971.0,33123.0,31350.0,0.833610,0.946472,0.880755
7,Goa,667416.0,776084.0,739140.0,719405.0,0.859979,0.973300,0.883570
19,Meghalaya,417982.0,477159.0,1295547.0,1276218.0,0.875981,0.985080,0.889248
8,Gujarat,8886073.0,10934811.0,17525914.0,15925270.0,0.812641,0.908670,0.894319
24,Punjab,3373581.0,4197025.0,10504943.0,9394663.0,0.803803,0.894309,0.898798
17,Maharashtra,20048496.0,23721432.0,46176343.0,43169855.0,0.845164,0.934891,0.904024
16,Madhya Pradesh,15056167.0,17866864.0,32623505.0,30261503.0,0.842687,0.927598,0.908461
30,West Bengal,5295268.0,6087812.0,12193670.0,11498170.0,0.869815,0.942962,0.922428
5,Chandigarh,420518.0,557186.0,580663.0,474787.0,0.754717,0.817664,0.923017
3,Assam,5921043.0,6619530.0,15939443.0,15266133.0,0.894481,0.957758,0.933932
22,Odisha,5842316.0,6339858.0,13718894.0,13486257.0,0.921522,0.983043,0.937418
27,Tripura,324863.0,359514.0,547404.0,524773.0,0.903617,0.958658,0.942586
9,Haryana,4864001.0,5770245.0,11552385.0,10152674.0,0.842945,0.878838,0.959159
4,Bihar,12659920.0,14359657.0,48103250.0,44210092.0,0.881631,0.919067,0.959268
0,Andaman and Nicobar Islands,110153.0,133628.0,148010.0,126974.0,0.824326,0.857874,0.960893
25,Rajasthan,15635330.0,17397475.0,31038309.0,28824331.0,0.898713,0.928670,0.967742
6,Chhattisgarh,3828428.0,3970062.0,10581619.0,10485782.0,0.964324,0.990943,0.973138
26,Tamil Nadu,10069947.0,10420187.0,29852441.0,29638028.0,0.966388,0.992818,0.973380
20,Mizoram,436042.0,450970.0,555339.0,541867.0,0.966898,0.975741,0.990937
14,Kerala,12075350.0,11102577.0,15474604.0,16822483.0,1.087617,1.087103,1.000473
29,Uttarakhand,2565078.0,2644586.0,3514568.0,3371525.0,0.969936,0.959300,1.011087
10,Himachal Pradesh,3222712.0,3226376.0,3465285.0,3367753.0,0.998864,0.971855,1.027792
13,Karnataka,6947590.0,6550707.0,13593457.0,13432089.0,1.060586,0.988129,1.073328
23,Puducherry,459733.0,379810.0,612511.0,635442.0,1.210429,1.037438,1.166749
1,Andhra Pradesh,11960598.0,10027912.0,21793317.0,21747456.0,1.192731,0.997896,1.195246

### Finding required ration for whole country

In [33]:
df_overall = pd.DataFrame(columns=['Country','Female_Vaccinated','Male_Vaccinated','Total_Male_Population','Total_Female_Population','Vaccination_Ratio','Population_Ratio'])
a=df_state['Female_Vaccinated'].sum(axis=0)
b=df_state['Male_Vaccinated'].sum(axis=0)
x=df_state['Total_Female_Population'].sum(axis=0)
y=df_state['Total_Male_Population'].sum(axis=0)
df_overall.loc[0,'Country'] = 'India'
df_overall.loc[0,'Female_Vaccinated'] = a
df_overall.loc[0,'Male_Vaccinated'] = b
df_overall.loc[0,'Total_Female_Population'] = x
df_overall.loc[0,'Total_Male_Population'] = y
df_overall.loc[0,'Vaccination_Ratio'] = a/b
df_overall.loc[0,'Population_Ratio'] = a/b
df_overall.loc[0,'Ratio_of_Ratio'] = x/y

In [34]:
df_overall

,Country,Female_Vaccinated,Male_Vaccinated,Total_Male_Population,Total_Female_Population,Vaccination_Ratio,Population_Ratio,Ratio_of_Ratio
0,India,179661312.0,200781237.0,452981724.0,427068316.0,0.894811,0.894811,0.942794

### Creating csv file for each result

In [35]:
df_district[['District_Key','Vaccination_Ratio','Population_Ratio','Ratio_of_Ratio']].to_csv("district-vaccination-population-ratio.csv",header=['districtid', 'vaccinationratio', 'populationratio', 'ratioofratios'], index=False)

In [36]:
df_state[['State','Vaccination_Ratio','Population_Ratio','Ratio_of_Ratio']].to_csv("state-vaccination-population-ratio.csv",header=['state', 'vaccinationratio', 'populationratio', 'ratioofratios'], index=False)

In [37]:
df_overall[['Country','Vaccination_Ratio','Population_Ratio','Ratio_of_Ratio']].to_csv("overall-vaccination-population-ratio.csv",header=['country', 'vaccinationratio', 'populationratio', 'ratioofratios'], index=False)