#### Importing Libraries

In [1]:
import pandas as pd

#### Importing Dataset

In [4]:
# importing filtered dataset we created in question 6
census_data = pd.read_csv("filtered_census_data.csv")

#### droppin irrelevant columns

In [5]:
census_data.drop(columns=['Total_Male_Population','Total_Female_Population'],inplace=True)
census_data

                      District  Total_Population                        State
0                      Kupwara            870354            Jammu and Kashmir
1                       Badgam            753745            Jammu and Kashmir
2                  Leh(Ladakh)            133487            Jammu and Kashmir
3                       Kargil            140802            Jammu and Kashmir
4                        Punch            476835            Jammu and Kashmir
..                         ...               ...                          ...
635                       Mahe             41816                   Puducherry
636                   Karaikal            200222                   Puducherry
637                   Nicobars             36842  Andaman and Nicobar Islands
638  North  and Middle Andaman            105597  Andaman and Nicobar Islands
639              South Andaman            238142  Andaman and Nicobar Islands

[640 rows x 3 columns]

In [6]:
vaccine_data = pd.read_csv("vaccination_data_dose_wise.csv")

In [7]:
vaccine_data

,Date,District_Key,District,State,dose1,dose2
0,2021-01-16,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0,0
1,2021-01-16,AN_North and Middle Andaman,North and Middle Andaman,Andaman and Nicobar Islands,0,0
2,2021-01-16,AN_South Andaman,South Andaman,Andaman and Nicobar Islands,0,0
3,2021-01-16,AP_Anantapur,Anantapur,Andhra Pradesh,0,0
4,2021-01-16,AP_Chittoor,Chittoor,Andhra Pradesh,0,0
...,...,...,...,...,...,...
153814,2021-08-14,WB_Purba Bardhaman,Purba Bardhaman,West Bengal,23221,1115
153815,2021-08-14,WB_Purba Medinipur,Purba Medinipur,West Bengal,21643,1959
153816,2021-08-14,WB_Purulia,Purulia,West Bengal,10857,2797
153817,2021-08-14,WB_South 24 Parganas,South 24 Parganas,West Bengal,34637,2917
153818,2021-08-14,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,11082,1831

### Merging vaccination dataset and population dataset

In [8]:
merged_df = pd.merge(vaccine_data, census_data, on=['District','State'])

In [9]:
merged_df

,Date,District_Key,District,State,dose1,dose2,Total_Population
0,2021-01-16,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0,0,36842
1,2021-01-17,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0,0,36842
2,2021-01-18,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0,0,36842
3,2021-01-19,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,1,0,36842
4,2021-01-20,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0,0,36842
...,...,...,...,...,...,...,...
102119,2021-08-10,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,6423,1406,3007134
102120,2021-08-11,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,2877,914,3007134
102121,2021-08-12,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,4657,1414,3007134
102122,2021-08-13,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,11739,2388,3007134
102123,2021-08-14,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,11082,1831,3007134

In [10]:
merged_df['dose1'] = merged_df['dose1'].astype('float')
merged_df['dose2'] = merged_df['dose2'].astype('float')
merged_df['Total_Population'] = merged_df['Total_Population'].astype('float')
merged_df

,Date,District_Key,District,State,dose1,dose2,Total_Population
0,2021-01-16,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842.0
1,2021-01-17,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842.0
2,2021-01-18,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842.0
3,2021-01-19,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,1.0,0.0,36842.0
4,2021-01-20,AN_Nicobars,Nicobars,Andaman and Nicobar Islands,0.0,0.0,36842.0
...,...,...,...,...,...,...,...
102119,2021-08-10,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,6423.0,1406.0,3007134.0
102120,2021-08-11,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,2877.0,914.0,3007134.0
102121,2021-08-12,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,4657.0,1414.0,3007134.0
102122,2021-08-13,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,11739.0,2388.0,3007134.0
102123,2021-08-14,WB_Uttar Dinajpur,Uttar Dinajpur,West Bengal,11082.0,1831.0,3007134.0

#### Findig required ratio for each district

In [11]:
df_district = merged_df.groupby('District_Key').agg({'State':'first','dose1':'sum', 'dose2':'sum','Total_Population':'first'}).reset_index()

In [12]:
df_district['ratio1'] = df_district['dose1']/df_district['Total_Population']
df_district['ratio2'] = df_district['dose2']/df_district['Total_Population']
df_district.sort_values(['ratio1'],inplace=True)
df_district

,District_Key,State,dose1,dose2,Total_Population,ratio1,ratio2
257,MN_Senapati,Manipur,25979.0,4958.0,479148.0,0.054219,0.010348
389,TN_Kancheepuram,Tamil Nadu,310328.0,46858.0,3998252.0,0.077616,0.011720
17,AR_Kurung Kumey,Arunachal Pradesh,8753.0,2847.0,92076.0,0.095063,0.030920
403,TN_Vellore,Tamil Nadu,404854.0,120993.0,3936331.0,0.102851,0.030738
259,MN_Ukhrul,Manipur,19357.0,5709.0,183998.0,0.105202,0.031028
...,...,...,...,...,...,...,...
352,PY_Mahe,Puducherry,38505.0,14841.0,41816.0,0.920820,0.354912
124,HP_Kinnaur,Himachal Pradesh,80342.0,23784.0,84121.0,0.955077,0.282736
129,HP_Solan,Himachal Pradesh,564011.0,120837.0,580320.0,0.971897,0.208225
0,AN_Nicobars,Andaman and Nicobar Islands,41409.0,8110.0,36842.0,1.123962,0.220129
229,MH_Mumbai,Maharashtra,6174333.0,2075554.0,3085411.0,2.001138,0.672699

#### Finding required ratio for each state

In [13]:
df_state = df_district.groupby('State').agg({'dose1':'sum', 'dose2':'sum','Total_Population':'sum'}).reset_index()

In [14]:
df_state['ratio1'] = df_state['dose1']/df_state['Total_Population']
df_state['ratio2'] = df_state['dose2']/df_state['Total_Population']
df_state.sort_values(['ratio1'],inplace=True)
df_state

,State,dose1,dose2,Total_Population,ratio1,ratio2
28,Uttar Pradesh,40096639.0,7733565.0,169811303.0,0.236125,0.045542
4,Bihar,22558739.0,4464104.0,92313342.0,0.244371,0.048358
21,Nagaland,417961.0,120939.0,1599691.0,0.261276,0.075601
12,Jharkhand,7097299.0,1674032.0,27152834.0,0.261383,0.061652
19,Meghalaya,709275.0,193001.0,2571765.0,0.275793,0.075046
26,Tamil Nadu,16631491.0,3866953.0,59490469.0,0.279566,0.065001
6,Chhattisgarh,5936587.0,1866208.0,21067401.0,0.281790,0.088583
24,Punjab,5830644.0,1763859.0,19899606.0,0.293003,0.088638
3,Assam,10303956.0,2245910.0,31205576.0,0.330196,0.071971
30,West Bengal,8267069.0,3124932.0,23691840.0,0.348942,0.131899
18,Manipur,964145.0,221329.0,2715143.0,0.355099,0.081517
22,Odisha,9780444.0,2419317.0,27205151.0,0.359507,0.088929
17,Maharashtra,32376023.0,11389734.0,89346198.0,0.362366,0.127479
9,Haryana,8151093.0,2487597.0,21705059.0,0.375539,0.114609
1,Andhra Pradesh,16442053.0,5561293.0,43540773.0,0.377624,0.127726
13,Karnataka,10381688.0,3125815.0,27025546.0,0.384144,0.115661
2,Arunachal Pradesh,560593.0,160574.0,1375723.0,0.407490,0.116720
25,Rajasthan,25124249.0,7885460.0,59862640.0,0.419698,0.131726
16,Madhya Pradesh,27518025.0,5419443.0,62885008.0,0.437593,0.086180
8,Gujarat,15189726.0,4640909.0,33451184.0,0.454086,0.138737
11,Jammu and Kashmir,4576328.0,1283248.0,9846782.0,0.464754,0.130322
27,Tripura,533957.0,153109.0,1072177.0,0.498012,0.142802
14,Kerala,16747124.0,6443499.0,32297087.0,0.518534,0.199507
29,Uttarakhand,3955757.0,1267004.0,6886093.0,0.574456,0.183995
23,Puducherry,736163.0,211702.0,1247953.0,0.589896,0.169639
20,Mizoram,674054.0,218495.0,1097206.0,0.614337,0.199138
0,Andaman and Nicobar Islands,183971.0,68006.0,274984.0,0.669024,0.247309
5,Chandigarh,733459.0,244351.0,1055450.0,0.694925,0.231514
10,Himachal Pradesh,4939412.0,1508724.0,6833038.0,0.722872,0.220798
7,Goa,1113733.0,329909.0,1458545.0,0.763592,0.226190
15,Lakshadweep,51662.0,17875.0,64473.0,0.801297,0.277248

#### Finding required ratio for whole country

In [15]:
df_overall = pd.DataFrame(columns=['Country','dose1','dose2','Total_Population','ratio1','ratio2'])
a=df_state['dose1'].sum(axis=0)
b=df_state['dose2'].sum(axis=0)
x=df_state['Total_Population'].sum(axis=0)
df_overall.loc[0,'Country'] = 'India'
df_overall.loc[0,'dose1'] = a
df_overall.loc[0,'dose2'] = b
df_overall.loc[0,'Total_Population'] = x
df_overall.loc[0,'ratio1'] = a/x
df_overall.loc[0,'ratio2'] = b/x

In [16]:
df_overall

  Country        dose1       dose2 Total_Population   ratio1    ratio2
0   India  298583319.0  82110896.0      880050040.0  0.33928  0.093303

#### Creating csv file for each result

In [17]:
df_district[['District_Key','ratio1','ratio2']].to_csv("district-vaccinated-dose-ratio.csv",header=['districtid', 'vaccinateddose1ratio', 'vaccinateddose2ratio'], index=False)

In [18]:
df_state[['State','ratio1','ratio2']].to_csv("state-vaccinated-dose-ratio.csv",header=['state', 'vaccinateddose1ratio', 'vaccinateddose2ratio'], index=False)

In [19]:
df_overall[['Country','ratio1','ratio2']].to_csv("overall-vaccinated-dose-ratio.csv",header=['country', 'vaccinateddose1ratio', 'vaccinateddose2ratio'], index=False)